:root {
    --width: 70%;
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: #084c61;
    height: 5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}

#bookGrid {
    margin-left: 1rem;
    margin-top: 1rem;
    height: 100vh;
    width: 67%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
    
.card {
    margin-bottom: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 4px;
    background: rgba(148, 180, 134, 0.81);

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.buttonCont {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;

}

.hasRead {
  border: 1px solid #b3bc8d;
  border-radius: 4px;
  color: black;
}

.removeButton {
    background-color: #E60026;
    border: 1px solid #E60026;
    color: #fff;
  }

.hasRead, .removeButton {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    width: 7rem;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: .8rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.hasRead:hover, .removeButton:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
/* 
@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
} */

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}

    50% {
        opacity: 0;
    }

	to {
		transform: scale(1);
		opacity: 1;	
	}
}

/* animate new box */
.card {
	animation: append-animate .3s linear;
}

form {
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #db504a;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    border-radius: 4px;
    margin-top: 1rem;
    height: fit-content;
}

legend {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    margin-left: 1rem;
}

.hasReadCheck {
    margin: 0;
    padding: 0;
}

input:not(.hasReadCheck){
    border: none;
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 1.8rem;
}

input:not(#pages, .hasReadCheck) {
    width: 15rem;
}

form button {
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    width: 10rem;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: .8rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: .5rem;
}
